# FastAPI framework
fastapi
uvicorn[standard]
python-multipart

# Face recognition
face-recognition
opencv-python
dlib

# Database
sqlalchemy

# Image processing
numpy<2.0.0
Pillow

# Utils
python-dateutil
